/* universal properties */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.header-nav {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(66, 114, 156);
}

.header-nav-item {
    font-size: 30px;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav-item a {
    color: white;
}
span {
    margin-left: 3.8%;
}

.hero-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/Untitled_Artwork.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
}

h1 {
    font-size: 75px;
}


/* make size 60 when window smallest */
/* make top only 10 when largest screen */
.hero-content h1 {
    position: absolute;
    width: 100%;
    top: 44px;
    color: rgb(82, 193,255);
    margin: 0;
    display: flex;
    justify-content: center;
}

.hero-content span {
    margin-left: 20%;
}

main{
    padding-top: 800px;
    margin-top: 2%;
    background-color: peachpuff;
}

.container-about-me {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

.about-me-title{
    flex: 1;
    border-right: 5px solid rgb(255, 122, 0);
    display: flex;
    align-items: top;
    justify-content: right;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 3%;
    order:1;
}

h2{
    font-size: 40px;
}

.about-me-text {
    flex:3;
    padding-right: 7%;
    font-size: 20px;
    order:2;
}

.card {
    flex: 1 0 0;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
  }

.card img {
    width: 100%;
    min-width: 400px;
  }

.contact-me {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
}

.contact-title {
    flex: 1;
    border-right: 5px solid rgb(255, 122, 0);
    display: flex;
    align-items: top;
    justify-content: right;
    padding-right: 3%;
    padding-left: 3%;
    margin-right: 3%;
    order:1;
}

.contact-content {
    flex:3;
    display: flex;
    padding-right: 7%;
    font-size: 20px;
    order:2;
}

.contact-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    box-sizing: border-box;
    background-color: rgb(66, 114, 156);
    width: 100%;
    padding:20px;
    text-align: center;
    color: white;
}
 
@media(max-width: 768px) {
    .container-about-me {
        flex-direction: column;
        justify-content: center;
    }
    .about-me-title {
        border-right: 0px solid rgb(255, 122, 0);
        border-bottom: 5px solid rgb(255, 122, 0);
        margin-bottom: 30px;
        margin-left: 3%;
    }
    .about-me-title, .about-me-text {
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }
  }

  @media(max-width: 768px) {
    .contact-me , .contact-content{
        flex-direction: column;
        justify-content: center;
    }
    .contact-title {
        border-right: 0px solid rgb(255, 122, 0);
        border-bottom: 5px solid rgb(255, 122, 0);
        margin-bottom: 30px;
        margin-left: 15%;
        margin-right: 15%;
    }
    .contact-title, .contact-content {
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }
  }